body {
  margin: 0;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.site {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  overflow: hidden;
  z-index: 9999;
}


.site .left-column,
.site .right-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
  max-width: 340px;
  margin-left: auto;
}
.site .left-column .events .items-wrapper ul li,
.site .right-column,
.brand-logo .wrapper {
  background: rgba(255,255,255, 1);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
}
.brand-logo {
  padding: 15px;
  padding-left: 0px;
}

.site .left-column .events .items-wrapper {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  padding: 15px;
  padding-left: 0px;
  margin-top: -15px;
}

.site .left-column  .events .scroll {
  display: block;
  height: 50px;
  width:50px;
  line-height: 50px;
  text-align: center;
  color: #000;
  font-size:30px;
  background: rgba(255,255,255, 1);
  border-radius: 100px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.site .left-column  .events .scroll:first-child {
  margin-bottom: 20px;
}

.site .left-column .events.no-scroll .scroll {
  display: none;
}


.site .left-column .events.no-scroll .items-wrapper {
  overflow: hidden;
}

.site .left-column  .events .scroll:last-child {
  margin-top: 20px;
}

.site .right-column .info .data:not(:last-child) {
  margin-bottom: 15px;
}

.site .right-column .info .data .avatar {
  display: inline-block;
}

.site .right-column .info .data .avatar .image {
  border-radius: 2000px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 120px;
  height: 120px;
  background-size: cover;
  border-radius: 2000px;
}

.site .right-column .info .data .title {
  font-size: 25px;
  color: #000;
}

.site .right-column .info .data .content {
  font-size: 20px;
  color: #666;
}

.site .right-column .qr-code img {
  height: 120px;
  width: 120px;
  margin: 5px 0px;
}

.site .right-column .qr-code a, a:visited {
  font-size: 20px;
  color: #333;
  text-decoration: none;
  display: block;
  margin: 5px 0px;
}

.site .right-column .qr-code a:hover {
  text-decoration: dotted;
}

.site .left-column .events .items-wrapper ul {
  list-style-type: none;
  background: transparent;
  padding: 0;
  display: block;
  width: 100%;
  height: auto;
  transition: margin 500ms;
}

.site .left-column .events .items-wrapper ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background: rgba(255,255,255, 1);
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.site .left-column .events .items-wrapper ul li:not(:last-child) {
  margin-bottom: 20px;
}

.site .left-column .events .items-wrapper ul li .section {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.site .left-column .events .items-wrapper ul li .section.data {
  max-width:160px;
}

.site .left-column .events .items-wrapper ul li .section:not(:last-child) {
  margin-right: 15px;
}


.site .left-column .events .items-wrapper ul li .avatar img {
  height: 50px;
  width: 50px;
  display: block;
}

.site .left-column .events .items-wrapper ul li .data {
  height: auto;
  overflow-x: hidden;
}

.site .left-column .events .items-wrapper ul li .data .title {
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 160px;
  max-height: 25px;
  overflow: hidden;

  font-weight: bold;
}

.brand-logo .wrapper img {
  max-width: 100%;
  max-height: 100%;
}


.post {
  background:#eee;
  border: 20px solid #eee;
  box-shadow: 0px 4px 30px rgba(0,0,0,.3);
  text-align:initial;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  border-radius:10px;
}
.post > .content {
  position:relative;
  height:100%;
  width:100%;
  overflow: hidden;
  border-radius: 10px;
  border: 20px solid #fff;
}
.post > .content > .picture {
  position: absolute;
  left:0;
  right: 0;
  top:0;
  bottom:0;
  background-repeat: no-repeat;
}

.post > .content > .message {
  position: absolute;
  padding: 20px;
  background: #cecece;
  font-size: 30px;
  color: #333;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.post > .content > .message > .wrapper {
  white-space: pre-line;
  margin-left:20px;
  font-family: "Times New Roman", Times, serif;
}

.post > .content > .picture + .message {
  width: 300px;
  background:#f1f1f1;
  font-size: 20px;
  display: block;
  line-height: 30px;
}

.post > .content > .by {
  position:absolute;
  bottom: 0;
  right: 0;
  color:#333;
  background-color: white;
  padding: 10px 30px;
  border-top-left-radius: 5px;
  font-size: 15px;
  line-height: 15px;
  font-style: italic;
  font-weight: bold;
}

.floating-center {
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -170px;
  margin-top: -60px;
  width: 340px;
  height: 200px;
}

.floating-center img {
  width: 100%;
  height:auto;
}
